@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,600;1,500&family=Poppins:wght@400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #000000;
    color: white;
}
.top {
    width: 100%;
    height: fit-content;
    background: none;
}
.top img {
    width: 80px;
    padding-left: 12px;
    padding-top: 40px;
    color: none;
}
.top p {
    position: relative;
    top: -56px;
    padding-left: 96px;
    font-size: 20px;
    background: none;
}
.money {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    position: relative;
    top: -20px;
}
.money h1 {
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    margin: 0 auto;
}
.buttons  button {
    width: 50%;
    height: 67px;
    margin: 0 10px;
    background: rgb(76, 2, 181);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.box {
    width: 95%;
    height: 100px;
    margin: 0 auto;
    background: rgb(55, 53, 53);
    border-radius: 9px;
}
.box p {
    padding-left: 20px;
    padding-top: 27px;
    background: none;
}

.firstimgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89%;
    height: 90px;
    margin: 0 auto;
    background: none;
    /* padding: 0 20px 20px; */
    position: relative;
    top: -90px;

}
.firstimgs img {
    width: 90px;
     padding: 0 16px 16px;
     background: white;
}

@media all and  (max-width: 900px) {
    .box p {
    /* padding-left: 20px;
    padding-top: 27spx;
    background: none; */
}  
.all {
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 49vh; /* Minimum height to keep the content visible */
    background-color: #ffffff;
    box-sizing: border-box;
} 

.firstimgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89%;
    height: 90px;
    margin: 0 auto;
    background: none;
    /* padding: 0 20px 20px; */
    position: relative;
    top: -70px;

}
.firstimgs img {
    width: 90px;
     padding: 0 16px 16px;
     background: white;
}
.cir {
    width: 70px;
    height: 70px;
    background: #f4e2ff;
   clip-path: circle();
    padding: 0 19px 16px;
    position: relative;
    top: 50px;
  
    
}
}

.fa-solid, .fa-light {
    margin: 0 auto;
    display: block;
   color: rgb(138, 56, 232);
    background: none;
    padding-left: 20px;
    font-size: 30px;
    padding-top: 30px;
}
.cir h2 {
    background: none;
    color: black;
    position: relative;
    top: 10px;
  
}


.count {
    width: 99%;
    height: 20px;
    margin: 0 auto;
    background: #000;
}




@media all and  (max-width: 600px) {
    .box p {
    /* padding-left: 20px;
    padding-top: 27spx;
    background: none; */
}  
.all {
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 49vh; /* Minimum height to keep the content visible */
    background-color: #ffffff;
    box-sizing: border-box;
} 

.firstimgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89%;
    height: 90px;
    margin: 0 auto;
    background: none;
    /* padding: 0 20px 20px; */
    position: relative;
    top: -70px;

}
.firstimgs img {
    width: 90px;
     padding: 0 16px 16px;
     background: white;
}
.cir {
    width: 70px;
    height: 70px;
    background: #f4e2ff;
   clip-path: circle();
    padding: 0 19px 16px;
    position: relative;
    top: 50px;
  
    
}
}

.fa-solid, .fa-light {
    margin: 0 auto;
    display: block;
   color: rgb(138, 56, 232);
    background: none;
    padding-left: 20px;
    font-size: 30px;
    padding-top: 30px;
}
.cir h2 {
    background: none;
    color: black;
    position: relative;
    top: 10px;
  
}


.count {
    width: 99%;
    height: 20px;
    margin: 0 auto;
    background: #000;
}

@media only screen and  (max-width: 380px) {
    .box p {
    /* padding-left: 20px;
    padding-top: 27spx;
    background: none; */
}  
.all {
    width: 95%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh; /* Minimum height to keep the content visible */
    background-color: #ffffff;
    box-sizing: border-box;
} 

.firstimgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89%;
    height: 90px;
    margin: 0 auto;
    background: none;
    /* padding: 0 20px 20px; */
    position: relative;
    top: -70px;

}
.firstimgs img {
    width: 90px;
     padding: 0 16px 16px;
     background: white;
}
.cir {
    width: 70px;
    height: 70px;
    background: #f4e2ff;
   clip-path: circle();
    padding: 0 19px 16px;
    position: relative;
    top: 62px;
  
    
}
}

.fa-solid, .fa-light {
    margin: 0 auto;
    display: block;
   color: rgb(115, 34, 255);
    background: none;
    padding-left: 20px;
    font-size: 30px;
    padding-top: 30px;
}
.cir h2 {
    background: none;
    color: black;
    position: relative;
    top: 10px;
  
}

